html, body {
  display: grid;
  background-color: #ffeead;
  margin: 10px;

  }

.container{
    
    /* display:grid; */
    display: inline-grid;
    justify-content: center;
    grid-template-columns: 100px 100px  100px; 
    grid-template-rows: 100px 100px  100px;
    grid-gap: 3px;
    border: 1px solid black;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}



.container > div:nth-child(1n) {
  background-color: #136cf1;	
}
